@using Application.Dtos
@using Domain.Entities
<table class="table table-hover border">
    <thead class="table-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col" class="text-end">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tx in Transactions)
        {
            <tr class="align-middle">
                <td class="text-muted">@tx.CreatedAt.ToShortDateString()</td>
                <td>@tx.Description</td>
                <td>@tx.Category.Name</td>
                <td>
                    <span class="badge @(tx.Type == TransactionType.Income ? "bg-success" : "bg-danger")">
                        @tx.Type
                    </span>
                </td>
                <td class="text-end fw-semibold">
                    @tx.Amount.Amount @tx.Amount.Currency
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<TransactionDto> Transactions { get; set; } = new();
}