@using Application.Dtos
@using Domain.Entities
@using Domain.ValueObjects
@using UI.Services
@inject FinanceService _accService

@if (IsVisible)
{
    <div class="modal fade show" style="display:block; background-color: rgba(0,0,0,0.5);" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Transaction</h5>
                    <button type="button" class="btn-close" @onclick="Hide"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <lablel class="form-label">Amount & Currency</lablel>
                        <div class="input-group">
                            <input type="number" class="form-control" @bind="addTxModel.Amount" step="0.01" />
                            <select class="form-select" style="max-width:100px;" @bind="addTxModel.Currency">
                                @foreach (var curr in Enum.GetValues<Currency>())
                                {
                                    <option valur="@curr">@curr</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category Name</label>
                        <input type="text" class="form-control" @bind="addTxModel.CategoryName" placeholder="e.g. Shopping" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category Details</label>
                        <input type="text" class="form-control" @bind="addTxModel.CategoryDescription" placeholder="Optional notes" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Transaction Details</label>
                        <textarea class="form-control" @bind="addTxModel.TransactionDescription"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Transaction Type</label>
                        <select class="form-select" @onchange="OnTransactionTypeChanged">
                            <option value="@TransactionType.Expense">Expense</option>
                            <option value="@TransactionType.Income">Income</option>
                            <option value="@TransactionType.Transfer">Transfer</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Hide">Cancel</button>
                    <button class="btn btn-primary" @onclick="SaveTransaction">Save</button>
                </div>
            </div>
        </div>
    </div>
}


@code{
    [Parameter]
    public int Id { get; set; }
    [Parameter] 
    public EventCallback OnSave { get; set; }
    private bool IsVisible{ get; set; }
    private AddTransactionFrom addTxModel = new();
    private List<AccountDto> otherAccounts = new();
    private List<TransactionDto> transactions = new();
    public string? statusMessage;
    public string statusClass = "";

    public void Show() => IsVisible = true;
    public void Hide() => IsVisible = false;

    private async Task SaveTransaction()
    {
        var result = await _accService.AddTransaction(addTxModel);

        if (result.IsSuccess)
        {
            statusMessage = "Transaction added successfully!";
            statusClass = "alert-success";

            Hide();
        }
        else
        {
            statusMessage = $"Error: {result.ErrorMessage}";
            statusClass = "alert-danger";
            Hide();
        }
    }

    private async Task OnTransactionTypeChanged(ChangeEventArgs e)
    {
        if (Enum.TryParse<TransactionType>(e.Value?.ToString(), out var type))
        {
            addTxModel.Type = type;
            if (type == TransactionType.Transfer)
            {
                await LoadOtherAccounts();
            }
        }
    }

    private async Task LoadOtherAccounts()
    {
        var result = await _accService.GetAllAccounts();
        if (result.IsSuccess)
        {
            otherAccounts = result.Value.Where(a => a.Id != Id).ToList();
            StateHasChanged();
        }
    }

    public class AddTransactionFrom
    {
        public int TargetAccountId { get; set; }
        public decimal Amount { get; set; }
        public Currency Currency { get; set; } = Currency.USD;
        public string CategoryName { get; set; } = "No Category Name";
        public string? CategoryDescription { get; set; }
        public TransactionType Type { get; set; }
        public string? TransactionDescription { get; set; }
    }
}