@using Domain.Entities
@using Domain.ValueObjects

@if (IsVisible)
{
    <div class="modal fade show" style="display:block; background-color: rgba(0,0,0,0.5);" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Transaction</h5>
                    <button type="button" class="btn-close" @onclick="Hide"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <lablel class="form-label">Amount & Currency</lablel>
                        <div class="input-group">
                            <input type="number" class="form-control" @bind="formModel.Amount" step="0.01" />
                            <select class="form-select" style="max-width:100px;" @bind="formModel.Currency">
                                @foreach (var curr in Enum.GetValues<Currency>())
                                {
                                    <option valur="@curr">@curr</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category Name</label>
                        <input type="text" class="form-control" @bind="formModel.CategoryName" placeholder="e.g. Shopping" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category Details</label>
                        <input type="text" class="form-control" @bind="formModel.CategoryDescription" placeholder="Optional notes" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Transaction Details</label>
                        <textarea class="form-control" @bind="formModel.TransactionDescription"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Transaction Type</label>
                        <select class="form-select" @onchange="OnCategoryTypeChanged">
                            <option value="@TransactionType.Expense">Expense</option>
                            <option value="@TransactionType.Income">Income</option>
                            <option value="@TransactionType.Transfer">Transfer</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Hide">Cancel</button>
                    <button class="btn btn-primary" @onclick="SaveTransaction">Save</button>
                </div>
            </div>
        </div>
    </div>
}


@code{
    private bool IsVisible{ get; set; }
    [Parameter] 
    public EventCallback OnSave { get; set; }
    private TransactionFrom formModel = new();

    public void Show() => IsVisible = true;
    public void Hide() => IsVisible = false;

    private async Task HandleSave()
    {
        // 1. Logic: Call your service to save
        // await FinanceService.Deposit(AccountId, amount, description...);

        // 2. Hide: Close the modal
        Hide();

        // 3. Signal: Tell the parent "I'm done, refresh your list!"
        await OnSave.InvokeAsync();

        // Reset fields for next time
        amount = 0;
        description = "";
    }


    private async Task OnCategoryTypeChanged(ChangeEventArgs e)
    {
        if (Enum.TryParse<TransactionType>(e.Value?.ToString(), out var type))
        {
            formModel.CategoryType = type;
            if (type == TransactionType.Transfer)
            {
                await LoadOtherAccounts();
            }
        }
    }


    public class TransactionFrom
    {
        public int AccountId { get; set; }
        public int TargetAccountId { get; set; }
        public decimal Amount { get; set; }
        public Currency Currency { get; set; } = Currency.USD;
        public string CategoryName { get; set; }
        public string? CategoryDescription { get; set; }
        public TransactionType CategoryType { get; set; }
        public string? TransactionDescription { get; set; }
    }
}