@page "/account-details/{Id:int}"
@using Application.Dtos
@using Domain.Entities
@using UI.Services
@inject FinanceService _accService

<h3>Account Details</h3>

@if (isLoading)
{
    <div class="spinner-border text-primary" role="status"></div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>@ErrorMessage</div>
    </div>
}
else
{
    <div class="card shadow-sm p-4">
        <h4>@account.Name</h4>
        <p>Type: @account.Type</p>
        <p>Balance: @account.Balance.Amount.ToString("C")</p>
    </div>
}

<div class="modal fade show" style="display:block;"></div>

<h4 calss="fw-bold mt-4 mb-3">Transaction History</h4>
<button class="btn btn-primary mb-3" @onclick="OpenModal">Add Transaction</button>
<table class="table table-hover border">
    <thead class="table-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col" class="text-end">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tx in transactions)
        {
            <tr class="align-middle">
                <td class="text-muted">@tx.CreatedAt.ToShortDateString()</td>
                <td>@tx.Description</td>
                <td>@tx.Category.Name</td>
                <td>
                    <span class="badge @(tx.Type == TransactionType.Income ? "bg-success" : "bg-danger")">
                        @tx.Type
                    </span>
                </td>
                <td class="text-end fw-semibold">
                    @tx.Amount.Amount @tx.Amount.Currency
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int Id { get; set; }
    private string? ErrorMessage;
    private AccountDto? account;
    private bool isLoading = true;
    private List<TransactionDto> transactions = new();

    protected override async Task OnInitializedAsync()
    {
        var accountResult = await _accService.GetAccount(Id);
        if (accountResult.IsSuccess)
        {
            account = accountResult.Value;
            var txResult = await _accService.GetTransactionsByAccountId(Id);

            if (txResult.IsSuccess)
                transactions = txResult.Value;
        }
        else
        {
            ErrorMessage = accountResult.ErrorMessage;
        }

        isLoading = false;
    }


}