@page "/account-details/{Id:int}"
@using Application.Dtos
@using Domain.Entities
@using Domain.ValueObjects
@using UI.Components
@using UI.Services
@inject FinanceService _accService

<h3>Account Details</h3>

@if (isLoading)
{
    <div class="spinner-border text-primary" role="status"></div>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>@ErrorMessage</div>
    </div>
}
else
{
    <div class="card shadow-sm p-4">
        <h4>@account.Name</h4>
        <p>Type: @account.Type</p>
        <p>Balance: @account.Balance.Amount.ToString("C")</p>
    </div>
}

<h4 calss="fw-bold mt-4 mb-3">Transaction History</h4>

<button class="btn btn-primary mb-3" @onclick="()=>transactionModal.Show()">Add Transaction</button>
<TransactionTable Transactions="transactions" />
<TransactionFormModal @ref="transactionModal" Id="Id" OnSave="HandleSaveFinished" />
@if (!string.IsNullOrEmpty(pageMessage))
{
    <div class="alert alert-success">@pageMessage</div>
}



@code {
    [Parameter]
    public int Id { get; set; }
    private AccountDto? account;
    private List<TransactionDto>? transactions = new();
    private TransactionFormModal transactionModal=default!;  // Component
    private List<AccountDto> otherAccounts = new();
    private string? ErrorMessage;
    private bool isLoading = true;
    private string? pageMessage;

    private async Task HandleSaveFinished(string message)
    {
        pageMessage = message; 
        await RefreshData(); 
    }

    private async Task RefreshData()
    {
        var accountResult = await _accService.GetAccount(Id);
        if (accountResult.IsSuccess)
        {
            account = accountResult.Value; 

            var txResult = await _accService.GetTransactionsByAccountId(Id);
            if (txResult.IsSuccess)
                transactions = txResult.Value;
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var accountResult = await _accService.GetAccount(Id);
        if (accountResult.IsSuccess)
        {
            account = accountResult.Value;
            var txResult = await _accService.GetTransactionsByAccountId(Id);
            if (txResult.IsSuccess)
                transactions = txResult.Value;
        }
        else
        {
            ErrorMessage = accountResult.ErrorMessage;
        }

        isLoading = false;
    }
}